{% extends "layouts/default.html" %}

{% block stylesheet %}
	<link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}" type="text/css">
{% endblock %}

{% block body %}
	<div class="main-container">
		<div class="quotes-container">
			{% for quote in  quotes %}
				<div class="quote-card">
					<div class="quote-card-title">
						<h3>{{ quote.get("name") }}</h3>
					</div>

					<div class="quote-card-desc">
						<p>{{ quote.get("description") }}</p>
					</div>

					<div class="quote-card-footer">
						<div class="quote-card-footer-price">
							<span>Prix :</span>
							<input type="number" value="{{ quote.get('price') }}">
							<span>€</span>
						</div>

						<div class="quote-card-footer-btn">
							<button class="btn" onclick="add_to_list(this)">+</button>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		
		<div class="quote-list-container">
			<form action="/" method="post" id="quote-list-form">
				<div class="quote-list">
					<ul>
						<!-- <li class="quote-list-item">
							<span class="quote-list-item-name">Nom prestation</span>
							<div class="quote-list-item-price">
								<span>XXX</span>
								<span>€</span>
							</div>
						</li> -->
					</ul>
				</div>

				<div class="quote-list-resume">
					<div class="quote-list-resume-price">
						<div class="quote-resume-price-title">
							<span>Total TTC :</span>
						</div>
						<div class="quote-resume-price-dyn-item">
							<span>0</span>
							<span>€</span>
						</div>
					</div>
					<div class="quote-list-resume-btn">
						<button class="btn" type="submit" id="generate-btn">Générer</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script src="{{ url_for('static', filename='scripts/add_to_list.js') }}"></script>
{% endblock %}